@import "../variables";
@import "../mixin";

.link {
    font-size: 18px;
    color: $dark;

    &--flex {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 10px;
    }

    &--icon-block {
        border-radius: $br-m;
        padding: 8px 25px 8px 10px;
    }

    &--icon-transition {
        &:hover {
            .circle {
                width: 75px;
            }
        }
    }

    &--700 {
        font-weight: 700;
    }

    &--dark {
        color: $light-gray;
        background-color: $dark;
    }

    &--accent {
        color: $accent;
    }

    &--underline {
        text-decoration: underline;
    }

}


.btn {
    font-size: 18px;

    &--flex {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &--icon-block {
        border-radius: $br-m;
        padding: 8px 15px 8px 10px;
    }

    &--light {
        color: $dark;
        background-color: $light-gray;
    }

    &--form {
        border: 2px solid $accent;
        color: $light;
        background-color: $accent;
        padding: 10px 15px;
    }

    &--go-to-top {
        position: fixed;
        background-color: $accent;
        border-radius: 50%;
        bottom: $br-s;
        left: $br-s;
        height: 56px;
        width: 56px;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--dialog {
        &-close {
            position: absolute;
            right: 15px;
        }
    }

    &--feedback {
        position: fixed;
        background-color: $accent;
        border-radius: 50%;
        bottom: $br-s;
        right: $br-s;
        height: 56px;
        width: 56px;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:disabled {
        opacity: 0.4;
    }
}