$dark: #002F54;
$light: #ffffff;
$accent: #42C0BD;
$primary: #D9D9D9;
$secondary: #888888;
$light-gray: #F5F5F5;
$error: #e1392e;

$br-s: 20px;
$br-m: 42px;
$br-l: 55px;

$section-margin: 120px;
$into-section-gape: 35px;

$transition-main: all .2s ease-in-out;