@import "../variables";
@import "../mixin";

.about {
  margin-bottom: 75px;

  &__container{
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__content {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;

    &-text {
      display: flex;
      flex-direction: column;
      width: 49%;
      gap: 25px;
    }
  }

}