@import "../variables";
@import "../mixin";

.advantages {
    margin-bottom: $section-margin;
    background-color: #002F54;
    color: $light;

    @include tablet {
        margin-bottom: calc($section-margin / 3);
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: $into-section-gape;
        padding-top: $into-section-gape;
        padding-bottom: $into-section-gape;

        @include small-tablet {
            gap: calc($into-section-gape / 3);
        }

    }

    &__top {
        display: flex;
        flex-direction: column;
        gap: $into-section-gape - 20px
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        gap: $into-section-gape;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        gap: $into-section-gape;
        border-bottom: 1px solid $accent;
        padding-bottom: $into-section-gape;
        min-height: 225px;

        @include mobile {
            flex-direction: column;
        }

        &:last-child {
            border-bottom: none;
        }

        &-text {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 50%;

            @include mobile {
                order: 1;
                width: 100%;
            }
        }

        &-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $light;
            width: 50%;

            @include mobile {
                order: 2;
                padding: 20px;
                width: 100%;
            }
        }

        &-list {
            list-style-type: disc;
            margin-left: $br-s;

            @include small-tablet {
                font-size: 16px;
            }
        }
    }
}