@import "../variables";
@import "../mixin";

.hero {
    margin-top: $section-margin;
    margin-bottom: $section-margin;

    @include tablet {
        margin-top: calc($section-margin / 3);
        margin-bottom: calc($section-margin / 3);
    }

    @include small-tablet {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: $into-section-gape;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @include tablet {
            flex-direction: column;
        }

    }

    &__subtitle {
        font-size: 16px;
    }

    &__title {
        min-width: 65%;
    }

    &__img {
        width: 100%;
        height: 100%;
    }
}