@import "../variables";
@import "../mixin";

.products {
  margin-bottom: 75px;

  &__top {
    display: flex;
    flex-direction: column;
    gap: 15px
  }

  &__container{
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  &__list {
    //display: grid;
    //grid-template-columns: repeat(4, 1fr);
    //gap: 30px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    height: 100%;

    padding: 24px 32px;
    background-color: $light-gray;

    &-img {
      max-width: 136px;
      max-height: 229px;
    }

    &-title {
      color: $accent;
      font-size: 24px;
      font-weight: 700;
    }
    &-subtitle {
      font-size: inherit;
      font-weight: normal;
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 12px;
    }

  }

}